.env
/node_modules/
# /dist/ disabled because of cpanel of myklas.ir needs the dist folder. We can later enable it if things change
start-dev-mode
Start Dev Mode.lnk
start-dev-mode.ps1
localhost.pem
localhost-key.pem
src/.tmp.driveupload/1300
/src/.tmp.driveupload
